// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// ===== VARIABLE CSS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #5a5a5a;
$purple-color: #724fd8;

// font body
$font-body: "Inter", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// line-height
$leading-title: 140%;
$leading-text: 170%;

// transition
$transition-400: 0.4s;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-reguler;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;

  &-gap {
    gap: 3rem;
  }
}

.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 32px;
    font-weight: $font-semibold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: $margin-2;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  height: 58px;
  font-size: 15px;
  font-weight: $font-medium;
  color: $white-color;

  &-purple {
    background-color: $purple-color;
  }

  &-black {
    background-color: $black-color;
  }
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: $font-bold;
    color: $purple-color;

    &-icon {
      width: 40px;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      display: grid;
      grid-template-rows: repeat(2, max-content);
      gap: 2rem;
      background-color: $white-color;
      box-shadow: -2px 0 8px rgba($color: #000000, $alpha: 0.1);
      padding: 2rem 0;
      transition: $transition-400;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    min-height: 46px;
    background-color: transparent;
    font-size: 15px;
    color: $black-color;

    &.active-link {
      position: relative;
      font-weight: $font-medium;
      color: $purple-color;
      background-color: rgba($color: #000000, $alpha: 0.05);

      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $purple-color;
      }
    }
  }

  &__button {
    align-items: center;
    align-self: flex-end;
    margin: 0 1.5rem 0 2rem;
  }

  &__toggle,
  &__close {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // Show Menu
  .show-menu {
    right: 0;
  }
}

// ===== HOME SECTION =====
.home {
  padding: 8rem 0 4rem;

  &__container {
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-video {
      display: flex;
      align-items: center;
      gap: 6px;
      color: $black-color;
    }

    &-play {
      font-size: 1.8rem;
    }
  }
}

// ===== FEATURE SECTION =====
.feature {
  &__container {
    gap: 6rem;
  }

  &__item {
    padding: 4rem 0;
    background-color: #fff6d9;

    &-container {
      gap: 3rem;
    }

    &-data {
      text-align: center;
    }
  }

  &__item:nth-child(even) {
    background-color: #f4f2fa;
  }
}

// ===== TESTIMONIAL SECTION =====
.testimonial {
  overflow: hidden;

  &__title {
    text-align: center;
  }

  &__content {
    display: grid;
    justify-items: center;
    padding: 2rem 0;

    &-text {
      text-align: center;
    }

    &-profile {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }

    &-img {
      width: 65px;
    }

    &-name {
      font-size: 18px;
      font-weight: $font-semibold;
      color: $black-color;
      margin-bottom: $margin-0-5;
    }

    &-profession {
      font-size: 15px;
      color: $grey-color;
    }
  }

  // swiper pagination
  .swiper-pagination {
    position: initial;
    margin-top: 1rem;

    &-bullet {
      width: 8px;
      height: 8px;
      background-color: rgba($color: #000000, $alpha: 0.2);
      opacity: 1;
    }

    &-bullet-active {
      width: 2rem;
      height: 8px;
      background-color: $purple-color;
      border-radius: 0.5rem;
    }
  }
  .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
  }
}

// ===== PLAN SECTION =====
.plan {
  &__data {
    text-align: center;
  }

  &__buttons {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 0.4rem;
    background-color: rgba($color: #000000, $alpha: 0.05);
    border-radius: 10rem;

    &-monthly,
    &-annual {
      display: inline-flex;
      justify-content: center;
      padding: 1rem 1.3rem;
      font-size: 15px;
      font-weight: $font-medium;
      border-radius: 10rem;
      cursor: pointer;
    }

    &-monthly {
      background-color: transparent;
      color: $black-color;
    }

    &-annual {
      background-color: $black-color;
      color: $white-color;
    }
  }

  &__group {
    display: grid;
    justify-content: center;
    gap: 3rem;
  }

  &__item {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 2rem;
    width: 300px;
    padding: 2.5rem 1.5rem;
    border: 1.3px solid rgba($color: #000000, $alpha: 0.1);
    transition: $transition-400;

    &:hover {
      border: 1.3px solid rgba($color: #000000, $alpha: 0);
      background-color: $white-color;
      box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 0.05);
    }

    &-title {
      font-size: 24px;
      font-weight: $font-medium;
      color: $black-color;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }

    &-prices {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      font-size: 15px;
      color: $grey-color;
    }

    &-price {
      font-size: 36px;
      font-weight: $font-semibold;
      color: $black-color;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-size: 15px;
      color: $grey-color;
    }

    &-check {
      font-size: 1.5rem;
      color: $grey-color;
    }

    &-button {
      align-self: flex-end;
    }
  }
}
